div
{
    border-radius: 5px;
    }
.header
{
    position: fixed;
    z-index: 9999;
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 25px;
    }
.name {
        float:left;
	margin-left: 30px;
	padding-bottom: 15px;
	font-size: 22.4px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

.email{
        float:right;
        margin-right: 30px;
	padding-bottom: 15px;
	font-size: 22.5px;
	font-family: Verdana, sans-serif;
	color: white;
}

.contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
    }

a:hover {
    font-weight: bold;
	color:white;
}
a{
	color:tomato;
}
.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    }

/*.left
{
    float: left;
    margin-top: 50px;
    /*margin-right: -90px;
    height: relative;
    width: 10%;
    background-color: #4160E8;
    }*/
    
.footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
    }
    
h3
{
    text-decoration: underline;
    }

.job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

.course-name
{
    font-weight:bold;
    }

.company-name
{
    height:2px;
    text-decoration:underline;
    }
.job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
.heading
{
    font-weight:bold;
    }
